*{
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Open Sans', sans-serif;
}

/* >>>>>>>>header-section>>>>>>>> */
.header{
 background-image: url(../images/banner/banner3.png);
 background-position: center;
 background-repeat: no-repeat;
}
.heading-line{
  max-width: 1000px;
  padding: 180px 0 166px 600px;
}
.heading-line h1{
  font-size: 60px;
  font-weight: 700;
  line-height: 76px;
  text-align: left;
  color: #ffff;
}
.heading-line p{
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  padding-top: 24px;
  color: rgba(255, 255, 255, 1);
}
.heading-line button{
  background-color: orange;
  font-size: 16px;
  font-weight: 400;
  color: #ffff;
  margin-top: 32px;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
}

/* >>>>>>>Home section>>>>>>>> */
.home-section{
  display: flex;
  align-items: center;
  padding: 130px 100px;
  justify-content: space-between;
}
.describtion{
  padding-left: 87px;
}
.describtion h2{
  color: rgba(21, 20, 20, 1);
  font-size: 40px;
  line-height: 47px;
  font-weight: 700;
  padding-bottom: 24px;
}
.describtion p{
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 16px;
  color: rgba(68, 67, 67, 1);
}
.describtion  ul{
  padding-left: 30px; 
}
.describtion ul li{
  color: rgba(68, 67, 67, 1);
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  list-style: square;
}
/* >>>>>>>service-section>>>>>>>> */
.plans h2{
  text-align: center;
  padding-bottom: 50px;
  font-size: 40px;
  font-weight: 700;
  line-height: 47px;
  padding-bottom: 50px;
}
.service{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  padding: 0 150px;
}
.service-info img{
  width: 50px;
}
.service-info {
  text-align: center;
}
.service-info h3{
  font-weight: 700;
  font-size: 20px;
  line-height: 35px;
}
.service-info p{
  color: rgba(115, 114, 114, 1);
  font-weight: 500;
  font-size: 16px;
  line-height: 29px;
  padding-bottom: 130px;
}
/* >>>>>>>>>>>>cal now-section>>>>>>>>>>>> */
.background{
  background-repeat: no-repeat;
  max-width: 1000px;
  height: 300px;
  background-image: url(../images/watch.png);
  background-position: center;
  margin-bottom: 100px;
  position: relative;
}
.gredian{
  background-image: linear-gradient(to right,
  rgb(219, 61, 61),
  rgba(147, 180, 55, 0)
  );
  height: 300px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.gredian h3{
  color: rgba(255, 255, 255, 1);
  font-size: 30px;
  font-weight: 700;
  line-height: 47px;
  padding-left: 64px;
  padding-top: 60px;
}
.gredian button{
  color: orange;
  font-size: 16px;
  font-weight: 400;
  padding: 10px 15px;
  margin-top: 24px;
  margin-left: 64px;
}
.footer{
  background-color: black;
}
.future-experience{
  display: flex;
  justify-content: center;
  max-width: 1000px;
}
.futer-info h3{
  color: #ffff;
  font-size: 40px;
  font-weight: 700;
  line-height: 53px;
  padding-bottom: 16px;
  padding-top: 100px;
}
.futer-info p{
  font-size: 16px;
  font-weight: 400;
  color: #ffff;
  line-height: 26px;
  padding-bottom: 24px;
}
.email-info{
  color: #ffff;
  line-height: 50px;
}
.phone-number{
  color: #ffff;
  line-height: 32px;
}
.icons{
padding-top: 32px;
padding-bottom: 130px;
}
.icons i{
  padding-right: 17px;
}
.subscribe h4{
  color: #ffff;
  font-size: 25px;
  font-weight: 600;
  padding-top: 130px;
  padding-bottom: 29px
}
.subscribe input{
  padding: 10px 80px 10px 5px;
  border: none;
  border-radius: 5px;
  margin-bottom: 16px;

}
.subscribe button{
  padding: 10px 15px;
  line-height: 24px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  background-color: cadetblue;
}